<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/asset/images/favicon.ico" type="image/x-icon">
    <title>Company Login</title>

    <!-- Vendor css -->
    <link rel="stylesheet" href="../static/src/vendors/@mdi/font/css/materialdesignicons.min.css">

    <!-- Base css with customised bootstrap included -->
    <link rel="stylesheet" href="../static/src/css/miri-ui-kit-free.css">

    <!-- Stylesheet for demo page specific css -->
    <link rel="stylesheet" href="../static/asset/css/demo.css">
</head>
<body class="login-page">
    <header class="miri-ui-kit-header header-no-bg-img header-navbar-only">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container">
                <!-- <a class="navbar-brand" href="index.html"><img src="../static/asset/images/logo.svg" alt="logo"></a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#miriUiKitNavbar"
                    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="mdi mdi-menu"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="miriUiKitNavbar">
                    <div class="navbar-nav ml-auto">
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="http://bootstrapdash.com/demo/miri-ui-kit-pro/documentation/documentation.html" target="_blank">Docs</span></a>
                        </li> -->
            
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Dashboard</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                Pages
                            </a>
                            <div class="dropdown-menu dropdown-menu-right ">
                                <a href="/home" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-shape-outline"></i>Dashboard</a>
                                <a href="/" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-lock-outline"></i>Login Page</a>
                                <!-- <a href="profile.html" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-shield-account-outline"></i>Profile Page</a> -->
                            </div>
                        </li>
<!--             
                        <li class="nav-item">

                            <a class="nav-link nav-icon icon-fb" href="#"><i class="mdi mdi-facebook-box"></i></a>

                            <a class="nav-link nav-icon icon-twitter" href="#"><i class="mdi mdi-twitter-box"></i></a>
 
                            <a class="nav-link nav-icon icon-insta" href="#"><i class="mdi mdi-instagram"></i></a>
                            
                        </li> -->
            
                        <form action="#" class="form-inline ml-lg-3">
                            <button class="btn btn-danger">GET INSTANT UPDATES!</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="card login-card">
        <div class="card-body">
            <h3 class="text-center text-white font-weight-light mb-4">LOG IN</h3>
            <form action="/">
                <div class="form-group">
                    <input type="text" placeholder="First name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Password" class="form-control">
                </div>
                <a value="Dashboard" class="nav-link" href="/home">LOGIN</a>
            </form>
            <!-- <div class="d-flex justify-content-between mt-4">
                <p class="text-white text-center font-weight-light">Login with</p>
                <p class="text-center mb-0">
                    <a href="#" class="social-login-btn icon-fb"><i class="mdi mdi-facebook-box"></i></a>
                    <a href="#" class="social-login-btn icon-twitter"><i class="mdi mdi-twitter"></i></a>
                    <a href="#" class="social-login-btn icon-gmail"><i class="mdi mdi-gmail"></i></a>
                </p> -->
            <!-- </div> -->
        </div>
    </div>
    <footer>
        <div class="container">
            <nav class="navbar navbar-dark bg-transparent navbar-expand footer-navbar d-block d-sm-flex text-center">
                <span class="navbar-text">&copy; Track-a-thon. All rights reserved.</span>
                <div class="navbar-nav ml-auto justify-content-center">
                    <!-- <a href="#" class="nav-link">Support</a>
                    <a href="#" class="nav-link">Terms</a>
                    <a href="#" class="nav-link">Privacy</a> -->
                </div>
            </nav>
        </div>
    </footer>
    <script src="../static/src/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../static/src/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="../static/src/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
<script>

   


// 	function serializeForm()
//   {
//     var jsonData = $('form').serializeArray();
//     var jsonString = JSON.stringify(jsonData);
//     $('#result').html(jsonString);
//   } 
// $("#btn").click(function(event){
    document.querySelector("#btn").addEventListener('click',function(event){
            event.preventDefault();
            fetch("http://0.0.0.0:8080/home",{method:'post'}).then(res=>{
                alert("Form submitted")
                window.location.replace("/home/snekha/hackathons/find_employee/templates/index.html")
            })
    })
   
</script>
</html>
